
// -- ESCAPES -- // 

@tablet: ~"(max-width:800px)";
@phone: ~"(max-width:500px)";

// -- MEDIA QUERIES -- //

@media @tablet {
    // Testing Media Queries
        body {
            background-color: red;
        }
    // -- //
}



@media @phone {
    // Testing Media Queries
        body {
            background-color: orange;
        }
    // -- //
}